<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <!-- CSS -->
    <link rel="stylesheet" href="_css/style.css">
    <title>Navbar with Dropdown</title>
</head>
<body>
    <header>
        <input type="checkbox" id="menu">
        <div class="center">
            
            <div id="logo">
                <h1><a href="#">My <span>Logo</span></a></h1>

                <label for="menu">
                    <img id="open" src="_img/menu_open.png">
                    <img id="close" src="_img/menu_close.png">
                </label>
            </div>
            
            
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>

                    <input type="checkbox" id="service">
                    <li><a href="#">                            
                            <label for="service">Service
                                <img id="iconRight" src="_img/chevron.png">
                            </label>

                            <img id="iconDown" src="_img/arrow_drop_down.png">
                        </a>
                    
                        <ul>
                            <li><a href="#">HTML & CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">PHP</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Portfolio</a></li>
                    
                    <input type="checkbox" id="blog">
                    <li><a href="#">
                            <label for="blog">Blog
                                <img id="iconRight" src="_img/chevron.png">
                            </label>
                        
                            <img id="iconDown" src="_img/arrow_drop_down.png">
                        </a>
                    
                        <ul>
                            <li><a href="#">Project</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            
        </div>
    </header>
</body>
</html>